/* Loader.module.css */
.loader {
  width: 60px;
  height: 60px;
  border: 6px solid rgba(255, 255, 255, 0);
  border-top-color: var(--clr-primary);
  border-radius: 50%;
  animation: spin 1s linear infinite;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}

/* Full-page overlay */
.overlay {
  position: fixed;
  inset: 0;
  background: rgba(0, 0, 0, 0.6); /* Dark background */
  backdrop-filter: blur(8px); /* Adds slight blur effect */
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 99999999999;
}

/* Spinner Animation */
@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}
