.container :global(.swiper-button-next) {
  color: #333 !important;
  right: 0 !important;
  aspect-ratio: 1/1;

  &::after {
    font-size: 20px !important;
  }
}
.container :global(.swiper-button-prev) {
  color: #333 !important;
  left: 0 !important;
  aspect-ratio: 1/1;

  &::after {
    font-size: 20px !important;
  }
}
